Source: synce-sync-engine
Section: utils
Priority: optional
Maintainer: Gustavo Perez Reyes <ghreyes71@gmail.com>
Build-Depends: debhelper-compat (= 13), python3-all, python3-setuptools
Standards-Version: 4.6.2

Package: synce-sync-engine
Section: utils
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, synce-dccm, python3-gi, python3-dbus, python3-dateutil, python3-lxml, python3-tz, python3-rra (>= 0.17-0~bookworm2), python3-rapi2 (>= 0.17-0~bookworm3), python3-rtfcomp
Description: Synchronization engine for Windows Mobile devices
 SyncEngine talks to a Windows Mobile device through the ActiveSync
 protocol. SyncEngine talks to the device through the connection
 manager, synce-dccm.
 .
 This package contains the actual SyncEngine.
