#!/usr/bin/make -f

export PYBUILD_NAME = sync-engine

%:
	dh $@ --with python3 --buildsystem=pybuild


override_dh_fixperms:
	dh_fixperms
	find debian/synce-sync-engine/usr/lib -type f \( -name '*.xsl' -o -name '*.txt' -o -name 'PKG-INFO' \) -exec chmod -x {} \;
